<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static '/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-5.3.2-dist/css/bootstrap.min.css' %}">
    <script src={% static 'bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js' %}></script>
</head>
<body>
<div class="container">
<ul class="list-group">
   <li class="list-group-item bg-alert"> Home</li>
   <li class="list-group-item"> Books</li>
   <li class="list-group-item"> Authors</li>
</ul>
{% block zawartosc %}
    to jest zawartość strony
{% endblock %}
{% block stopka %}
    <div>
    <img src="{% static 'img/89ec9ec43f.jpeg' %}" width="20%">
    </div>
{% endblock %}
</div>
</body>
</html>