<div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="#page-top">Witaj {% if user.is_authenticated %}
        <ul>
            <li>{{ user.username }} </li>
            <li><a href="{% url 'logout_view' %}">wyloguj</a></li>
        </ul>
    {% else %}
        nieznajomy
        <a href="{% url 'login_view' %}">zaloguj</a>
    {% endif %}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'list_book' %}">Ksizki</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'add_book' %}">Dodaj Książke</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url  'authors' %}">Autorzy</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url  'add_author' %}">Dodaj Autora</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_genre' %}">Gatunki</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'add_genre' %}">Dodaj Gatunek</a></li>
        </ul>
    </div>
</div>